.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px 0 0 25px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar li {
  margin: 0;
}

.sidebar-text {
  padding-left: 10px;
}

.sidebar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 10px 0 10px 15px;
}

.sidebar a:hover {
  color: #ff0000;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
