.app {
  display: flex;
  height: 100vh;
  background-color: #121212;
  color: white;
}

.main-content {
  margin-left: 200px; 
  padding: 40px;
  flex-grow: 1;
}

.main-content .auth-button {
  text-align: center;
}

.auth-button {
  margin-top: 30px;
}
